/* 
PGM: looks like this file should be moved to components_css folder
 */

.TextMessage input {
    padding: 8px;
    border: 1px solid gray;
    font-size: 12px;
    justify-content: center;
  }
  
