.Main {
    display: flex;
    margin-top: 30px;
    padding: 1px;
    height: auto;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
    }


.FirstColumn {
    align-items: center;
    width: 25%;
}

.FirstColumn h3 {
    color: #995109;
}

.SecondColumn {
    border: 3px solid #995109;
    background: linear-gradient(#fff7db, #eccba7);
    border-radius: 30px;
    background-color: #fff7db; 
    padding: 10px;
    }

.ThirdColumn {
    border: 3px solid #995109;
    border-radius: 30px;
    background-color: #fff7db; 
    padding: 10px;
    background: linear-gradient(#fff7db, #eccba7);
    margin-left: 30px;
    }

ul {
    padding:10px;
}