.Content {
    display: flex; 
    margin: auto;
    width: 1349px;
    height: 670px;
    /* margin-top: 30px; */
    /* align-content: space-around; */
 
 }
 
 
 
 .ProfileColumn {
     width: 50%;
     
     
 }
 
 .ProfileInfo {
     display: flex;
     flex-direction: column;
     align-items: left;
     padding-left: 130px;
 }

 /* .ProfileInfo h2 {
     padding-left: 100px;
 }

 .ProfileInfo UserProfile {
     padding-left: 280px;
 } */
 
 .RightSideColumn {
     width: 50%;
     margin-top: 200px;
 }
 
 .update-profile {
     /* border: 3px solid #ce7d38;
     background: linear-gradient(#fff7db, #eccba7);
     border-radius: 30px;
     background-color: #fff7db;  */
     padding: 10px;
     margin-left: 175px;
     padding-top: 80px;
     color: white;


 }

 .RightSideColumn h3{
    text-align: center;
    color: red;
    padding-left: 20px;
   }


 
 .loginButton2 {
     border-radius: 30px;
     background-color: #afb5cf; 
     padding: 5px;
     padding-left: 30px;
     padding-right: 30px;
     margin-left: 140px;
 }
 
 .loginButton2 {
     color: black;
     text-decoration: none;
 }
 
 .about {
     margin-left: 63px;
 }
 
 .password {
     margin-left: 40px;
 }
 
 .display-name {
     margin-left: 10px;
 }
 
 .ProfileInfo h2 {
     color: #FF0000;
 }

 .userPicture {
     height: 200px;
 }

 .additional {
     margin-top: 250px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }

 button {
     background-color: #e9bd98;
 }