.formBox {
    display: flex;
    width: 1349px;
    background-color: white;
    height: 660px;
    margin: 0 auto;
    margin-top: 10px;


    background-repeat: no-repeat;
    /* The background picture is 1349px in width and and almost 66px in height which is the size of the #root. */
}

/* .SideColumn {
    margin-top: 20px;
} */

.MiddleColumn {
    /* border: 3px solid #ce7d38;
    background: linear-gradient(#fff7db, #eccba7);
    border-radius: 30px;
    background-color: #fff7db;  */
    padding-left: 290px;
    padding-top: 300px;
    width: 600px;
    margin: 0 auto; 
}

.Label {
    align-content: flex-start;
}

.InputName {
    margin-left: 20px;
}

.InputPassword {
    margin-left: 28px;
}

.Button {
    border-radius: 30px;
    background-color: #c2c7e2; 
    padding: 10px;
}

.Form {
    color: white;
    
}

.Thankyou {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

.Leftside {
    text-align: center;
}

.loginButton {
    border-radius: 30px;
    background-color: #afb5cf; 
    padding: 10px;
}

.loginButton a{
    color: black;
    text-decoration: none;
}






